/* static */
div{
    display: inline-block;
    height: 100px;
    width: 100px;
}

/* #static #middle{
    position: static;
    top: 100px;
    left: 100px;   
} */
/* relative */

/* #relative > #middle{
    position: relative;
    top: 100px;
    left: 100px;
} */

/* absolute */
/* #absolute #middle{
    position: absolute;
    top: 100px;
}

#absolute{
    position: relative; 
} */

/* fixed */
/* #fixed #middle{
    position: fixed;
    top:100px;
}

/* sticky (relative + fixed) */
#sticky{
    height: 500px;
}

#sticky #middle{
    position: sticky;
    top: 100px;
}
