/* combinators */


/* descendent selector */
/* h1 span{
    color:gold;
} */
/* section div h1 span{} */
/* section h1 span{} */


/* child selector */
/* section > div > h1 > span{} */
/* div > h1 > span{} */
/* h1 > span{
    font-size: 75px;
    background-color: orange;
} */


/* adjacent sibling (selects only 1 attribute just immediate it) */
/* article + div{
    color: purple;
    border: 3px solid black; 
} */


/* general siblibg (selects all the attributes defined after it) */
/* article ~ div{
    background-color: cyan;
} */


/* ------------------------------------- */
/* pseudo classes */
/* :hover */
/* div{
   background-color: aqua; 
}
div:hover{
    background-color: gold;
} */


/* :focus */
/* input{
    background-color: cyan;
}

input:focus{
    background-color: purple;
} */

/* :active */
/* a{
    font-size: 50px;
}
a:active{
    font-size: 75px;
    border: 5px dotted black;
} */


/* :visited */
/* a:visited{
    color: orange;
} */


/* ------------------------------------- */
/* pseudo elements */

/* ::first-letter */
p::first-letter{
    font-size: 100px;
    color:orange ;
}


/* ::first-line */
p::first-line{
    font-family: cursive;
}


/* before */
p::before{
    content: "Hi I am Himanshu Yadav.";
}


/* after */
p::after{
    content: "Hi myself Himanshu Yadav.";
}