.cart-box{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 90px 20px 90px;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-items{
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 32%;
    padding: 20px;
    display: flex;
}

.image{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 25px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.price{
    font-size: 18px;
    margin: 5px 0 15px 0;
}

.inc-btn,
.dec-btn{
    padding: 0 5px;
    border: 2px solid #b4b4b4;
    font-size: 25px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 5px 10px 0;
    transition: border-color 0.2s ease;
}

.dlt-btn{
    border: none;
    background-color: #e63636;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px;
    margin-right: 5px;
    transition: background-color 0.2s ease;
}

.inc-btn:hover,
.dec-btn:hover{
    border-color: #808080;
    cursor: pointer;
}

.dlt-btn:hover{
    background-color: #c92929;
    cursor: pointer;
}

.price-box{
    width: 350px;
    margin: 110px auto 30px auto;
    border: 2px solid #777777;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
}

.price-heading,
.price-value{
    font-size: 25px;
    font-weight: bold;
}

.pay-btn{
    border: none;
    background-color: #2db336;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.2s ease;
}

.pay-btn:hover{
    background-color: #1f8325;
    cursor: pointer;
}