.product-box{
    /* border: 2px solid black;
    border-radius: 10px; */
    margin: 100px 250px;
    display: flex;
    flex-wrap: wrap;
}

.product-details{
    border: 2px solid gray;
    border-radius: 10px;
    width: 100%;
    margin: 15px;
    padding: 20px 30px;
}

.product-details a{
    display: flex;
    text-decoration: none;
    color: black;
}

.image{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid green; */
    margin-right: 50px;
}

.info{
    width: 90%;
    /* border: 1px solid green; */
}

.name{
    font-size: 30px;
    margin-bottom: 5px;
}

.price{
    font-size: 20px;
}

.desc{
    margin-top: 15px;
}
