*{
    margin: 0;
    padding: 0;
}

.container{
    width: 400px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
}

h2{
    background-color: blueviolet;
    color: white;
    padding: 15px;

}

.input{
    margin: 15px 0 px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

input[type="text"]{
    width: 130px;
}

.calculator th,
.calculator td {
    text-align: center;
    padding: 5px;
}

#inp1,
#inp2,
#btn{
    padding: 5px;
}

#btn{
    background-color: blueviolet;
    color: white;
    border: 0px;
    cursor: pointer;
}

.calculator{
    width: 300px;
    margin: auto;
}